<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <h1>Api Dog Food Web Client</h1>
        <p>
            @if (Request.IsAuthenticated) { <a href="/users/logout">Log Out</a> }
        </p>
    </header>
    
    @RenderBody()
    @if (Request.IsAuthenticated) { @Scripts.Render("~/assets/apiauth") @Scripts.Render("~/bundles/js") }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @RenderSection("scripts", required: false)
</body>
</html>
